/* --- general styles --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff 100%/1.6 */
  height: 100%;
}

body {
  background-color: #fff;
  color: #474747;
  font-family: 'VollkornRegular', $font-stack-helvetica;
  @include font-size(1.6);
  font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

ol{
  counter-reset: list 0;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  li{
    margin-bottom: 18px;
    &:before{
      counter-increment: list;
      content: counter(list)'.';
      font-family: 'VollkornBold', $font-stack-helvetica;	
      margin-right: 4px;
    }
  }
}

input,
textarea {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  border: 3px solid #eaeaea;
  outline: none;
  padding: 13px 7px;
  font-family: 'VollkornRegular', $font-stack-helvetica;	
  transition: border-color .3s ease; 
  &:hover{
    border-color: #bbbbbb;
  }
  &:active,
  &:focus {
    border-color: $btn_bg;
  }
}

textarea{
  resize: vertical;
}

label {
  display: inline-block;
  width: 100%;
  color: #5d5d5d;
  font-size: 16px;
  line-height: 22px;
  padding: 6px 10px;
}

p {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.row{
  margin: 0 -10px;
  font-size: 0;
}

.col{
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 19px;
}

.btn{
  font-size: 20px;
  font-family: 'VollkornBold', $font-stack-helvetica;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  background-color: $btn_bg;
  border: none;
  color: #fff;
  display: inline-block;
  width: 226px;
  padding: 16px 0;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  transition: background-color .3s ease, box-shadow .3s ease;
  &:hover,
  &:focus,
  &:active {
    background-color: $btn_bg_hover;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0);
  }
  &.dark{
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

.title,
h1{
  color: #1b1b1b;
  font-family: 'VollkornBold', $font-stack-helvetica;
  font-size: 60px;
  line-height: 114px;
  text-align: center;
}

.subtitle,
h2{
  color: #1b1b1b;
  font-family: 'VollkornBold', $font-stack-helvetica;
  font-size: 35px;
  line-height: 92px;
  text-align: center;
}

.text_title,
h3{
  color: #474747;
  font-family: 'VollkornBold', $font-stack-helvetica;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.right_col{
  .title,
  .subtitle,
  .text_title,
  h1,
  h2,
  h3{
    text-align: left;
  }
}

.link{
  font-family: 'VollkornItalic', $font-stack-helvetica;
  font-size: 18px;
  line-height: 22px;
  color: $link;
  border-bottom: 1px solid transparent;
  transition: color .3s ease, border-bottom-color .3s ease;
  &:hover,
  &:focus,
  &:active{
    color: $link_hover;
    border-bottom-color: inherit;
  }
}

.link_title{
  font-family: 'VollkornBoldItalic', $font-stack-helvetica;
  font-size: 35px;
  color: $link;
  transition: color .3s ease;
  &:hover,
  &:focus,
  &:active{
    color: $link_hover;
  }
}

.p_bottom_100{
  padding-bottom: 100px;
}

/* header */

header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 0;
  padding: 6px 0;
  z-index: 2;
  .location {
    padding-left: 20px;
    display: inline-block;
    margin-left: 3.6%;
    background: url('../img/icons/icon_location.png') left center no-repeat;
    transition: background .3s ease;
    &:hover,
    &:focus,
    &:active{
      background: url('../img/icons/icon_location-hover.png') left center no-repeat;
      .address{
        color: $link-hover;
      }
    }
  }
  .caption{
    color: #474747;
    font-family: 'VollkornBold', $font-stack-helvetica;
    font-size: 16px;
    line-height: 27px;
    margin-right: 10px;
  }
  .address{
    font-size: 16px;
    margin-left: 8px;
    color: $link;
    transition: color .3s ease;
  }
  .header_phones{
    font-size: 16px;
    display: inline-block;
    padding-left: 24px;
    margin-left: 2.3%;
    background: url('../img/icons/icon_phone.png') left center no-repeat;
    transition: background .3s ease;
    &:hover,
    &:focus,
    &:active{
      background: url('../img/icons/icon_phone-hover.png') left center no-repeat;
    }
  }
  .phones_dropdown{
    display: inline-block;
    a{
      margin-left: 8px;
      display: inline-block;
    }
  }
}

.logo_block{
  font-family: 'VollkornBold', $font-stack-helvetica;
  font-size: 16px;
  line-height: 28px;
  img{
    vertical-align: middle;
    margin-right: 12px;
  }
}

.burger_menu{
  cursor: pointer;
  float: right;
  font-family: 'VollkornSemiBoldItalic', $font-stack-helvetica;
  font-size: 16px;
  line-height: 28px;
  padding: 5px 0 5px 36px;
  background: url('../img/icons/icon_menu.png') left top 8px no-repeat;
  transition: background .3s ease;
  &:hover,
  &:focus,
  &:active{
    background: url('../img/icons/icon_menu-hover.png') left top 8px no-repeat;
  }
}

.popup_nav_overlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(27,27,27,.8);
  overflow-y: auto;
  .popup_nav{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    max-width: 480px;
    background-color: #303030;
    color: #fff;
    padding: 0 0 58px;
    overflow: hidden;
  }
  .popup_nav_wrap{
    transform: translateX(480px);
    transition: transform .25s ease;
  }
  &.opened{
    .popup_nav_wrap{
      transform: translateX(0);
    }
  }
  .nav_close_block{
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 55px;
    .nav_close{
      display: inline-block;
      font-family: 'VollkornSemiBoldItalic', $font-stack-helvetica;
      font-size: 16px;
      line-height: 26px;
      cursor: pointer;
      padding-left: 34px;
      background: url('../img/icons/icon_back.png') left center no-repeat;
      transition: background .3s ease;
      &:hover,
      &:focus,
      &:active{
        background: url('../img/icons/icon_back-hover.png') left center no-repeat;
      }
    }
  }
  .menu_block{
    padding: 68px 55px 0;
    .heading{
      font-family: 'VollkornBold', $font-stack-helvetica;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.025em;
    }
    .group{
      padding-top: 8px;
    }
    .nav_link{
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #464646;
      font-family: 'VollkornItalic', $font-stack-helvetica;
      color: #b4b4b4;
      font-size: 16px;
      padding: 17px 10px;
      position: relative;
      transition: color .3s ease;
      &:after{
        content: '';
        position: absolute;
        right: 10px;
        width: 8px;
        height: 14px;
        background: url('../img/icons/icon_right.png') center no-repeat;
        opacity: 0;
        transition: opacity .3s ease, right .3s ease;
      }
      &:hover,
      &:focus,
      &:active{
        color: #fff;
        &:after{
          right: 0;
          opacity: 1;
        }
      }
    }
  }
  .btn_block{
    text-align: center;
    padding-top: 30px;
  }
}

/* footer */

footer{
  background-color: #1b1b1b;
}

.footer_top{
  border-bottom: 1px solid #3f3f3f;
  font-size: 0;
  padding: 11px 0;
  text-align: center;
  li{
    display: inline-block;
    margin: 0 19px;
  }
  .link{
    display: inline-block;
  }
}

.footer_logo{
  width: 16.666%;
  text-align: center;
  padding-top: 15px;
}

.footer_middle{
  padding-top: 15px;
  padding-bottom: 15px;
  .contacts{
    width: 41.66%;
    padding-top: 16px;
    position: relative;
  }
  .marker_block{
    position: absolute;
    display: none;
  }
  .map{
    width: 41.66%;
  }
  .heading{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-family: 'VollkornBold', $font-stack-helvetica;
    padding-bottom: 20px;
  }
  .caption{
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    font-family: 'VollkornBold', $font-stack-helvetica;
  }
  .socials{
    padding-top: 20px;
    .link{
      display: inline-block;
      padding-left: 24px;
      &:hover,
      &:focus,
      &:active{
        border-bottom-color: transparent;
        transition: background .3s ease;
      }
    }
    .insta{
      background: url('../img/icons/icon_insta.png') left center no-repeat;
      margin-right: 38px;
      &:hover,
      &:focus,
      &:active{
        background: url('../img/icons/icon_insta-hover.png') left center no-repeat;
      }
    }
    .vk{
      background: url('../img/icons/icon_vk.png') left center no-repeat;
      &:hover,
      &:focus,
      &:active{
        background: url('../img/icons/icon_vk-hover.png') left center no-repeat;
      }
    }
  }
}

.footer_location{
  padding-left: 24px;
  background: url('../img/icons/icon_location.png') left top 4px no-repeat;
  .address{
    color: #cecece;
    padding-left: 18px;
  }
}

.footer_phones{
  padding-left: 24px;
  background: url('../img/icons/icon_phone.png') left top 4px no-repeat;
  .phones_dropdown{
    float: right;
    width: calc(100% - 86px);
    padding-left: 8px;
    .link{
      margin-left: 8px;
      &:hover,
      &:focus,
      &:active{
        border-bottom-color: transparent;
      }
    }
  }
}

.footer_bottom{
  border-top: 1px solid #3f3f3f;
  color: #919191;
  padding: 12.5px 0;
  text-align: right;
  .copyright{
    float: left;
  }
  .skyweb{
    margin-left: 38px;
    span{
      color: $link;
      transition: color .3s ease;
    }
    &:hover,
    &:focus,
    &:active{
      span{
        color: $link_hover;
      }
    }
  }
}

#map{
  height: 182px;
}

/* breadcrumbs */

.breadcrumbs{
  font-size: 0;
  li{
    font-family: 'VollkornBold', $font-stack-helvetica;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 0.05em;
    color: #fff;
    display: inline-block;
    &:last-child{
      display: block;
    }
    a{
      font-family: 'VollkornItalic', $font-stack-helvetica;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #fff;
      position: relative;
      padding: 0 16px 0 10px;
      text-transform: none;
      &:after{
        content: '/';
        position: absolute;
        font-family: 'VollkornItalic', $font-stack-helvetica;
        font-size: 20px;
        line-height: 20px;
        right: 0;
        top: 6px;
      }
    }
  }
}

/* tabs */

.tabs_content{
  display: none;
  font-size: 18px;
  line-height: 22px;
  padding-top: 22px;
  &.active{
    display: block;
  }
}

.tabs_caption{
  .tab{
    cursor: pointer;
    display: inline-block;
    color: #1b1b1b;
    font-size: 35px;
    line-height: normal;
    font-family: 'VollkornBold', $font-stack-helvetica;
    margin-right: 24px;
    opacity: .7;
    border-bottom: 3px solid transparent;
    transition: opacity .3s ease, border-bottom-color .3s ease;
    &:hover,
    &:focus,
    &:active{
      opacity: 1;
    }
    &.active{
      opacity: 1;
      border-bottom-color: $btn_bg;
    }
  }
}

/* main */

main{
  margin-top: 50px;
}

.top_banner{
  background: url('../img/main_bg.jpg') center no-repeat;
  background-size: cover;
  padding: 30px 0 294px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: url('../img/vawe.png') bottom 100% center no-repeat;
    background-size: 100% auto;
    z-index: 1;
  }
  &:after{
    content: '';
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 43%;
    width: 528px;
    background: url('../img/illustrations/SportBody.png') center no-repeat;
    background-size: auto 100%;
  }
  &.inner{
    padding: 30px 0 232px;
    &:after{
      top: 0;
      left: 43%;
      width: 528px;
      background: url('../img/illustrations/SportBody_girl.png') center no-repeat;
    }
    .slogan{
      width: 81.666%;
      text-align: center;
      padding: 22px 20px 30px 20px;
    }
  }
}

.slogan{
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  padding: 69px 56px 45px 70px;
  position: relative;
  width: 580px;
  margin-top: 30px;
  &:after{
    content: '';
    position: absolute;
    border: 3px solid #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .slogan_inner{
    position: relative;
    z-index: 1;
  }
  .gym{
    color: #830902;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
  .name{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
  .force{
    color: #fff;
    font-family: 'VollkornBold', $font-stack-helvetica;
    font-size: 140px;
    line-height: 92px;
    padding-top: 34px;
    letter-spacing: 0.1em;
  }
  .born{
    color: #830902;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
  }
  .here{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
  }
}

.text_block{
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  &.two_column{
    column-count: 2;
    column-gap: 20px;
  }
}

.opened{
  padding-top: 50px;
}

.our_services_section{
  padding-top: 40px;
}

.color_frame{
  padding-top: 10px;
  padding-bottom: 10px;
  .col{
    width: 25%;
    position: relative;
    padding: 10px;
    &:before{
      content: '';
      position: absolute;
      border: 3px solid #ec4d09;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity .3s ease;
    }
    &:after{
      content: '';
      position: absolute;
      border: 1px solid #eaeaea;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }
    &:hover:before,
    &:focus:before,
    &:active:before{
      opacity: 1;
    }
  }
  .btn{
    position: relative;
    z-index: 1;
  }
}

.color_frame__item{
  border: 1px solid #eaeaea;
  padding: 20px;
  position: relative;
  .img_block{
    text-align: center;
  }
  .name{
    font-family: 'VollkornBold', $font-stack-helvetica;
    font-size: 22px;
    line-height: 26px;
  }
  .link{
    font-size: 16px;
    line-height: 19px;
    position: relative;
    z-index: 1;
    &:hover,
    &:focus,
    &:active{
      border-bottom-color: $link_hover;
    }
  }
  
}

.service_item{
  min-height: 538px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
    background-color: #eaeaea;
    z-index: -1;
  }
  &:after{
    content: '';
    position: absolute;
    border: 1px solid #fff;
    border-bottom: 0;
    top: 9px;
    right: 9px;
    left: 9px;
    height: 151px;
    z-index: 1;
  }
  .img_block{
    line-height: 0;
    margin-bottom: 8px;
    img{
      width: 100%;
    }
  }
  .descr{
    padding-top: 30px;
    padding-bottom: 22px;
  }
}

.trial_section{
  padding-top: 90px;
}

.trial_lesson{
  background: url('../img/trial_bg.png') center no-repeat;
  background-size: contain;
  text-align: center;
  padding: 40px 0;
}

.trial_lesson_block{
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 380px;
  padding: 29px 70px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    border: 1px solid #eaeaea;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
  .trial{
    font-size: 22px;
    line-height: 35px;
    font-family: 'VollkornBold', $font-stack-helvetica;
  }
  .free{
    font-size: 29px;
    line-height: 35px;
    font-family: 'VollkornBold', $font-stack-helvetica;
  }
  .btn{
    position: relative;
    margin-top: 11px;
    margin-bottom: 17px;
  }
  .link{
    position: relative;
  }
  &.choice{
    padding: 26px;
    .text{
      color: #5b5a5a;
      padding: 7px 0 20px;
    }
  }
}

.personal_trainer{
  padding-top: 78px;
}

.team_section{
  padding-top: 84px;
}

.team_item{
  min-height: 502px;
  .img_block{
    margin-bottom: 35px;
  }
  .instagramm{
    font-family: 'VollkornBoldItalic', $font-stack-helvetica;
    font-size: 14px;
    line-height: 22px;
  }
  .name{
    padding-bottom: 4px;
  }
  .caption{
    padding-top: 30px;
  }
  .rewards{
    margin: 18px -2px 20px;
    img{
      width: 36px;
      margin: 0 2px;
    }
  }
  &.find_trainer{
    .btn{
      position: relative;
    }
  }
}

.advantages_section{
  padding-top: 78px;
}

.advantages{
  .col{
    width: 16.666%;
    text-align: center;
  }
  .img_block{
    display: flex;
    height: 180px;
    img{
      margin: auto;
      max-width: 100%;
    }
  }
  .caption{
    padding: 36px 10px 0;
  }
}

.gallery_section{
  padding-top: 70px;
  .figure{
    width: 33.333%;
    line-height: 0;
  }
}

.photo_gallery{
  width: 66.666%;
  padding-top: 9px;
  .col{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 50%;
  }
  .img_block{
    display: inline-block;
    width: 100%;
    height: 214px;
    line-height: 0;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s ease;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../img/icons/icon_view.png') center no-repeat, rgba(27,27,27,.8);
      opacity: 0;
      transition: opacity .3s ease;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:hover,
    &:active,
    &:focus{
      box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0);
      &:after{
        opacity: 1;
      }
    }
  }
}

.content{
  padding-bottom: 24px;
}

.left_col{
  width: 33.333%;
}

.right_col{
  width: 66.666%;
  .subtitle,
  h2{
    padding-bottom: 17px;
  }
  .text_title,
  h3{
    
  }
  .rewards{
    margin: 0 -6px;
    padding: 26px 0 48px;
    img{
      margin: 0 6px;
    }
  }
}

.coach_selection{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  img{
    width: 100%;
    margin-bottom: 20px;
  }
}

.table{
  border: 1px solid #eaeaea;
  padding: 10px;
  margin: 36px 0 92px;
}

.table_item{
  width: 50%;
  .subtitle{
    text-align: left;
  }
  td:first-child,
  th:first-child{
    width: 66.666%;
  }
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

td,
th{
  border: 1px solid #eaeaea;
  width: 33.333%;
  padding: 13px 10px;
}

th{
  text-align: left;
  font-weight: normal;
  font-family: 'VollkornBold', $font-stack-helvetica;
  padding-top: 26px;
}

.stock_block{
  padding-top: 30px;
  padding-bottom: 20px;
  .col{
    width: 33.333%;
  }
  .stock_item{
    border: 1px solid #eaeaea;
    padding: 35px 20px;
    position: relative;
    min-height: 258px;
    &:after{
      content: '';
      position: absolute;
      border: 1px solid #eaeaea;
      top: 9px;
      right: 9px;
      bottom: 9px;
      left: 9px;
    }
  }
  .title{
    text-align: left;
    color: #fff;
    position: relative;
    font-size: 22px;
    line-height: 26px;
    z-index: 1;
    padding: 12px 0;
    margin-bottom: 20px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -25px;
      background-color: $btn_bg;
      z-index: -1;
    }
  }
  .text{
    color: #5b5a5a;
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts_section{
  .col{
    width: 50%;
    padding-bottom: 20px;
  }
  .subtitle{
    text-align: left;
  }
  textarea{
    min-height: 220px;
  }
}

.contact_item{
  padding-bottom: 20px;
  .key{
    font-family: 'VollkornBold', $font-stack-helvetica;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .value{
    font-size: 18px;
    line-height: 22px;
  }
}

.form{
  @include clearfix;
  .btn{
    float: right;
    margin-top: 20px;
  }
}

.choice{
  .btn{
    width: 278px;
  }
}

.center_column{
  padding-top: 84px;
}

.simple_text{
  width: 66.666%;
  margin: 0 auto;
}